@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.container {
    max-width: 1850px;
    margin: auto;
    padding: 0px 45px;
}

.box {background: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 76%);
}